html,body {
    padding: 0;
    margin: 0 ;
    width: 100%;
    height: 100%;
}
.atb-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.atb-header {
    text-align: center;
}
.el-table .addtotal-row {
    background: #99FF99
}
.el-table .subtotal-row {
    background: #CCFFCC;
}